*,
*:before,
*:after {
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;

-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;

-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
-webkit-tap-highlight-color:#00000000;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;

-webkit-transition:all 0.25s ease;
-moz-transition:all 0.25s ease;
-ms-transition:all 0.25s ease;
-o-transition:all 0.25s ease;
transition:all 0.25s ease;
}
