.background {
width:100vw;
height:100vh;
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;;
background-size:cover;
opacity:0;
animation-name:background-reveal;
animation-delay:0.5s;
animation-duration:1s;
animation-fill-mode:forwards;
}
@keyframes background-reveal {
0% {opacity:0;}
100% {opacity:1.0;}
0% {height:calc(100vh - 0px);}
100% {height:calc(100vh - 100px - 100px);}
}
