* {
	font-family: monospace !important;
}

body {
	background: #00000000;
	color: #666666 !important;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;

	overflow-x: hidden;
	overflow-y: hidden;
}

