body {
	background: #00000000;
	color: #666666 !important;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 15px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
}

