.box-shadow-top {
box-shadow:0px -10px 10px -10px rgba(100,100,100,0.5);
}
.box-shadow-bottom {
box-shadow:0px 10px 10px -10px rgba(100,100,100,0.5);
}
.box-shadow-top-bottom {
box-shadow:
inset 0px -10px 10px -10px rgba(100,100,100,0.5),
inset 0px 10px 10px -10px rgba(100,100,100,0.5);
}
.box-shadow-left {
box-shadow:-10px 0px 10px -10px rgba(100,100,100,0.5);
}
.box-shadow-right {
box-shadow:10px 0px 10px -10px rgba(100,100,100,0.5);
}
.box-shadow-left-right {
box-shadow:
inset -10px 0px 10px -10px rgba(100,100,100,0.5),
inset 10px 0px 10px -10px rgba(100,100,100,0.5);
}
