.box-shadow-inset-top {
box-shadow:inset 0px 10px 10px -10px rgba(100,100,100,0.5);
}
.box-shadow-inset-bottom {
box-shadow:inset 0px -10px 10px -10px rgba(100,100,100,0.5);
}
.box-shadow-inset-top-bottom {
box-shadow:
inset 0px 10px 10px -10px rgba(100,100,100,0.5),
inset 0px -10px 10px -10px rgba(100,100,100,0.5);
}
.box-shadow-inset-left {
box-shadow:inset 10px 0px 10px -10px rgba(100,100,100,0.5);
}
.box-shadow-inset-right {
box-shadow:inset -10px 0px 10px -10px rgba(100,100,100,0.5);
}
.box-shadow-inset-left-right {
box-shadow:
inset 10px 0px 10px -10px rgba(100,100,100,0.5),
inset -10px 0px 10px -10px rgba(100,100,100,0.5);
}
