#canvas {
	background: transparent;

	display: block;
	opacity: 0;

	animation-name: canvas-reveal;
	animation-delay: 1s;
	animation-duration: 2s;
	animation-fill-mode: forwards;

	z-index: 1;
}

@keyframes canvas-reveal {
	0% {opacity: 0;}

	100% {opacity: 1;}
}

canvas:focus {
	outline: none;
}
