.color {
	width: 24px;
	height: 24px;
	border: 1px solid #666666ff;
	display: inline-block;
	margin: 0 0 0 0.2em;
	cursor: pointer;
	padding: 2px;
}

.black {
	background-color: #000000ff;
}

.gray {
	background-color: #eeeeeeff;
}

.white {
	background-color: #ffffffff;
}

.blue {
	background-color: #00529cff;
}

#color {
	visibility: hidden;
}

#colors {
	position: absolute;
	top:300px;
	left; 300px;
}


