#color {
	height: calc(64px + 10px + 10px);
	width: calc(64px + 10px + 10px);
	position: fixed;
	bottom: calc(80px + 64px + 64px + 10px + 10px);
	right: 0px;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
}

@keyframes color-reveal {
	0% {right: -200px;}

	100% {right: 0px;}
}

.color {
	color: #000000ff;
	display: inline-block;
	position:absolute;
	bottom: 0px;
	right:-200px;
	margin: 10px 10px 10px 10px;
	padding: 10p 10px 10px 10px;

	animation-name: color-reveal;
	animation-delay: 2.0s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

#color-palette {
	height: 64px;
	width: 64px;
	position: absolute;
	bottom: 80px;
	left: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;

	opacity: 0;
}

input[type="color"] {
	border: 0px solid #000000ff;
	width: 64px;
	height: 64px;

	-webkit-appearance: none;
}

input[type="color"]::-webkit-color-swatch {
	border: 0px solid #000000ff;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	border: 0px solid #000000ff;
	padding: 0px 0px 0px 0px ;
	border-radius: 0px;

}
