#colors {
	height:64px;
	width:512px;
	position:fixed;
	bottom: calc(80px + 10px);
	right:10px;
}

#color-selector {
	border:none;
	height: calc(64px + 10px + 10px);
	width: calc(64px + 10px + 10px);
	position: fixed;
	bottom: 80px;
	right: calc(((32px + 10px + 10px) * 3) + 10px);
	visibility: hidden;

}

.color {
	width: 64px;
	height: 64px;
	display: inline-block;
	position:absolute;
	bottom: 0px;
	right:-200px;
	margin: 0px 0px 0px 0px;
	padding: 10p 10px 10px 10px;

	animation-name: colors-reveal;
	animation-delay: 2.0s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes colors-reveal {
	0% {right: -200px;}

	100% {right: 0px;}
}

.gray-darker {
	background-color: #333333ff;
}

.gray-dark {
	background-color: #555555ff;
}

.gray-light {
	background-color: #777777ff;
}

.gray-lighter {
	background-color: #999999ff;
}

.white {
	background-color: #ffffffff;
}

.selector {
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0px;
	border-radius: 0px;
}
