#console-overlay {
	position: fixed;

	top: 170px;
	right: 10px;
	left: 10px;

	/* limit height: viewport minus top offset minus bottom clearance */
	max-height: calc(100vh - 170px - 90px);

	z-index: 9998;

	/* required for scrolling */
	overflow-y: auto;
	overflow-x: hidden;

	/* allow scroll interaction */
	pointer-events: auto;

	padding: 10px 10px 10px 10px;
	border-radius: 10px;

	background: #333333cc;
	color: #ddddddff;

	font-family: system-ui, -apple-system, monospace;
	font-size: 10px;
	line-height: 1;

	white-space: pre;
	display: block;
}
