.controls {
	color: #000000ff;
	position: fixed;
	bottom: calc(80px + 64px + 64px + 64px + 10px + 10px + 10px);
	right: -200px;
	padding: 10px 10px 10px 10px;

	animation-name: controls-reveal;
	animation-delay: 2.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes controls-reveal {
	0% {right: -200px;}

	100% {right: 0px;}
}

.controls-popup {
	background-color: #000000cc;
	border-radius: 4px;
	color: #efefefff;
	padding: 20px 20px 20px 20px;
	margin: 0px 0px 0px 0px;
	position: fixed;
	bottom: calc( 80px + 10px + 64px + 64px + 64px + 64px + 10px + 10px + 10px + 10px + 10px);
	left: 16px;
	right: 16px;

	display: none;
	opacity: 0;
}

.controls-popup::after {
	content: "";
	border-width: 10px;
	border-style: solid;
	border-color: #000000cc transparent transparent transparent;
	position: absolute;
	bottom: -20px;
	right: calc(( 64px + 10px) / 2 / 2);
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

@keyframes controls-popup-reveal {
	0% {opacity: 0;}

	100% {opacity: 1;}
}

.controls .controls-show {
	display: block;
	opacity: 1;

	animation: controls-popup-reveal 1s;
	animation-delay: 0s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
