#contact {
	background: #aaaaaa;
	height: 60px;
	width: auto;
	position: fixed;
	bottom: calc(-60px - 80px);
	left: 0px;
	right: 0px;

	animation-name: contact-reveal;
	animation-delay: 0.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes contact-reveal {
	0% {bottom: calc(-60px - 80px);}

	100% {bottom: 80px;}
}

