/* debug overlay */

#device-information-overlay {

	position: fixed;

	top: 170px;
	right: 10px;
	left: 10px;

	z-index: 9998;
	pointer-events: none;

	padding: 10px 10px 10px 10px;
	border-radius: 10px;

	background: #333333cc;
	color: #ddddddff;

	font-family: system-ui, -apple-system, monospace;

	font-size: 10px;
	line-height: 1;

	white-space: pre;
	display: block;
}
