#details {
	height: 64px;
	width: 64px;
	position: fixed;
	bottom: calc(80px + 64px + 64px + 64px + 64px + 64px + 10px + 10px + 10px +  10px + 10px + 10px);
	right: 10px;
	padding: 10px 10px 10px 10px;
}

#details-button-label {
	padding: 0px 10px 0px 0px;
}

.details {
	color: #000000ff;
	position: fixed;
	bottom: calc(80px + 64px + 64px + 64px + 64px + 64px + 10px + 10px + 10px +  10px + 10px + 10px);
	right: -200px;
	padding: 10px 4px 10px 10px;

	animation-name: details-reveal;
	animation-delay: 1.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes details-reveal {
	0% {right: -200px;}

	100% {right: 0px;}
}

.details-label-color {
	 color: #00000000;
}
