#drawer-button {
	height: 64px;
	width: 64px;
	position: fixed;
	bottom: calc(80px + 10px);
	right: 10px;
	padding: 10px 10px 10px 10px;
}

@keyframes drawer-button-reveal {
	0% {right: -200px;}

	100% {right: 0px;}
}

.drawer-button {
	color: #000000ff;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;

	position: fixed;
	bottom: calc(80px);
	right: -200px;

	animation-name: drawer-button-reveal;
	animation-delay: 1.0s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.drawer-button-label-color {
	 color: #00000000;
}

@keyframes drawer-reveal {
	0% {right: 0px;}

	100% {right: 100vw;}
}

#drawer {
	background: #bbbbbbff;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	right: -100vw;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;

	z-index: 1
}

#drawer.drawer-open {
	top: 0px;
	right: 0vw;
}

.drawer {
	width: 100%;
	height: 100%;

	overflow-y: scroll;
}

.drawer a {
	margin: 0px 0px 0px 0px;
	overflow: hidden;
}




