.drawer-button {
background-image:url(/logo/logo-grey.svg);
background-size:contain;
height:64px;
width:64px;
margin:10px 10px 10px 10px;
padding:10px 10px 10px 10px;
top:0;
left:0;
position:absolute;

animation-name:drawer-open;
animation-delay:1s;
animation-duration:2s;
animation-fill-mode:forwards;
}
@keyframes drawer-open {
0% {left:calc(100vw - 50vw - 64px - 10px -10px);}
10%, 90% {left:calc(100vw - 50vw);}
100% {left:calc(100vw - 50vw);}
}
.drawer {
background-color:#cccccc;
width:50vw;
height:calc(100vh - 100px);
padding:0;
margin:0;
position:absolute;
top:0;
left:calc(100vw - 150vw);
text-overflow:ellipsis;
opacity:95%;
}
.drawer-open .drawer {
left:0;
top:0;
}
.drawer-content {
height:calc(100vh - 100px - 100px - 60px);
overflow:overlay;
position:absolute;
right:0;
width:500px;
}
.drawer a {
margin:0;
padding:5px 10px 5px 10px;
overflow:hidden;
text-overflow:ellipsis;
}
.drawer a:hover {
color:#ff0000;
}
@media only screen and (max-width: 600px) {
.drawer a {
font-size:8px;
}
}
