#footer {
	background: #aaaaaaff;
	border-radius: 20px 20px 0px 0px;
	position: fixed;
	height: 80px;
	bottom: -80px;
	left: 0px;
	right: 0px;
}

#footer::before {
	background-image: linear-gradient(
		to right,
		rgba(170, 170, 170, 1) 0%,
		rgba(170, 170, 170, 0) 100%
	);

	border-radius: 20px 0px 0px 0px;

	font-size: 40px;
	z-index: 999;

	position: absolute;
	left: 0px;
	bottom: 0px;

	width: 30px;
	height: 80px;

	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0px 0px 0px 0px;
	padding: 40px 0px 0px 0px;
}

#footer::after {
	background-image: linear-gradient(
		to left,
		rgba(170, 170, 170, 1) 0%,
		rgba(170, 170, 170, 0) 100%
	);

	border-radius: 0px 20px 0px 0px;

	font-size: 40px;
	z-index: 999;

	position: absolute;
	right: 0px;
	bottom: 0px;

	width: 30px;
	height: 80px;

	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0px 0px 0px 0px;
	padding: 40px 0px 0px 0px;
}

#footer::before {
	content: '‹';
}

#footer::after {
	content: '›';
}

#footer.scroll-right::before {
	content: '';
}

#footer.scroll-left::after {
	content: '';
}

#footer.scroll-none::before {
	content: '';
}
#footer.scroll-none::after {
	content: '';
}

.footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 80px;

	display: flex;
	flex-direction: row;

	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;

	scrollbar-width: none;

	-webkit-overflow-scrolling: touch;
}

.footer-button {
	background: #00000000;
	color: #666666ff;
	border-radius: 0px;
	border: none;
	bottom: 10px;
	left: 10px;
	right: 10px;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
	width: 80px;
}
