#footer {
	background: #aaaaaaff;
	border-radius: 20px 20px 0px 0px;
	position: fixed;
	height: 80px;
	bottom: -80px;
	left: 0px;
	right: 0px;

	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;

	animation-name: footer-reveal;
	animation-delay: 0.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.footer {
	left: 0px;
	right: 0px;

	overflow-x: scroll;
	white-space: nowrap;
}

@keyframes footer-reveal {
	0% {bottom: -80px;}

	100% {bottom: 0px;}
}
