.grid {
display:-webkit-box;	/* OLD - iOS 6-, Safari 3.1-6 */
display:-moz-box;		/* OLD - Firefox 19- BUGGY */
display:-ms-flexbox;	/* TWEENER - IE 10 */
display:-webkit-flex;	/* NEW - Chrome */
display:flex;			/* NEW - Opera 12.1, Firefox 20+ */
flex-wrap:wrap;
list-style:none;
margin:0;
padding:0;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
-o-transition:all .3s ease;
transition:all .3s ease;
}
.grid-cell {
flex:1;
}
.grid-flex-cells > .grid-cell {
display:-webkit-box;	/* OLD - iOS 6-, Safari 3.1-6 */
display:-moz-box;		/* OLD - Firefox 19- BUGGY */
display:-ms-flexbox;	/* TWEENER - IE 10 */
display:-webkit-flex;	/* NEW - Chrome */
display:flex;			/* NEW - Opera 12.1, Firefox 20+ */
}
.grid-top {
align-items:flex-start;
}
.grid-bottom {
align-items:flex-end;
}
.grid-align-center {
align-items:center;
}
.grid-justify-center {
justify-content:center;
}
.grid-cell-top {
align-self:flex-start;
}
.grid-cell-bottom {
align-self:flex-end;
}
.grid-cell-center {
align-self:center;
}
.grid-cell-autosize {
flex:none;
}
.grid-fit > .grid-cell {
flex:1;
}
.grid-full > .grid-cell {
flex:0 0 100%;
}
.grid-1-2 > .grid-cell {
flex:0 0 50%;
}
.grid-1-3 > .grid-cell {
flex:0 0 33.3333%;
}
.grid-1-4 > .grid-cell {
flex:0 0 25%;
}
.grid-1-5 > .grid-cell {
flex:0 0 20%;
}
.grid-1-6 > .grid-cell {
flex:0 0 16.6666%;
}
.display-grid-fit > .grid-cell {
flex:1 1 50%;
}
.menu-grid-fit > .grid-cell {
flex:1 1 25%;
}
.navigation-grid-fit > .grid-cell {
flex:1 1 25% !important;
}
.grid-width-100 {
width:100% !important;
flex:none;
}
.grid-width-75 {
width:75% !important;
flex:none;
}
.grid-width-66 {
width:66.6666% !important;
flex:none;
}
.grid-width-50 {
width:50% !important;
flex:none;
}
.grid-width-33 {
width:33.3333% !important;
flex:none;
}
.grid-width-25 {
width:25% !important;
flex:none;
}
.cell-width-100 {
flex:1 1 100% !important;
}
.cell-width-75 {
flex:1 1 75% !important;
}
.cell-width-66 {
flex:1 1 66.6666% !important;
}
.cell-width-50 {
flex:1 1 50% !important;
}
.cell-width-33 {
flex:1 1 33.3333% !important;
}
.cell-width-25 {
flex:1 1 25% !important;
}
@media (max-width:800px) {
.navigation-grid-fit > .grid-cell {
flex:1 1 50% !important;
}
.large-grid-fit > .grid-cell {
flex:1 1 100%;
}
.large-grid-full > .grid-cell {
flex:0 0 100%;
}
.large-grid-1-2 > .grid-cell {
flex:0 0 50%;
}
.large-grid-1-3 > .grid-cell {
flex:0 0 33.3333%;
}
.large-grid-1-4 > .grid-cell {
flex:0 0 25%;
}
}
@media (max-width: 700px) {
.menu-grid-fit >.grid-cell {
flex:1 1 50% !important;
}
.navigation-grid-fit > .grid-cell {
flex:1 1 50% !important;
}
.med-grid-fit > .grid-cell {
flex:1;
}
.med-grid-full > .grid-cell {
flex:0 0 100%;
}
.med-grid-1-2 > .grid-cell {
flex:0 0 50%;
}
.med-grid-1-3 > .grid-cell {
flex:0 0 33.3333%;
}
.med-grid-1-4 > .grid-cell {
flex:0 0 25%;
}
}
@media (max-width: 600px) {
.display-grid-fit > .grid-cell {
flex:1 1 100%;
}
.menu-grid-fit >.grid-cell {
flex:1 1 100% !important;
}
.navigation-grid-fit > .grid-cell {
flex:1 1 100% !important;
}
.small-grid-fit > .grid-cell {
flex:1;
}
.small-grid-full > .grid-cell {
flex:0 0 100%;
}
.small-grid-1-2 > .grid-cell {
flex:0 0 50%;
}
.small-grid-1-3 > .grid-cell {
flex:0 0 33.3333%;
}
.small-grid-1-4 > .grid-cell {
flex:0 0 25%;
}
}
.grid-gutters {
margin:10px;
}
.grid-gutters > .grid-cell {
padding:5px;
}
.grid-gutters-large {
margin:-1.5em 0 1.5em -1.5em;
}
.grid-gutters-large > .grid-cell {
padding:1.5em 0 0 1.5em;
}
.grid-gutters-xlarge {
margin:-2em 0 2em -2em;
}
.grid-gutters-xlarge > .grid-cell {
padding:2em 0 0 2em;
}
@media (max-width: 800px) {
.large-grid-gutters {
margin:-1em 0 1em -1em;
}
.large-grid-gutters > .grid-cell {
padding:1em 0 0 1em;
}
.large-grid-gutters-large {
margin:-1.5em 0 1.5em -1.5em;
}
.large-grid-gutters-large > .grid-cell {
padding:1.5em 0 0 1.5em;
}
.large-grid-gutters-xlarge {
margin:-2em 0 2em -2em;
}
.large-grid-gutters-xlarge > .grid-cell {
padding:2em 0 0 2em;
}
}
@media (max-width: 700px) {
.med-grid-gutters {
margin:-1em 0 1em -1em;
}
.med-grid-gutters > .grid-cell {
padding:1em 0 0 1em;
}
.med-grid-gutters-large {
margin:-1.5em 0 1.5em -1.5em;
}
.med-grid-gutters-large > .grid-cell {
padding:1.5em 0 0 1.5em;
}
.med-grid-gutters-xlarge {
margin:-2em 0 2em -2em;
}
.med-grid-gutters-xlarge > .grid-cell {
padding:2em 0 0 2em;
}
}
@media (max-width: 600px) {
.small-grid-gutters {
margin:-1em 0 1em -1em;
}
.small-grid-gutters > .grid-cell {
padding:1em 0 0 1em;
}
.small-grid-gutters-large {
margin:-1.5em 0 1.5em -1.5em;
}
.small-grid-gutters-large > .grid-cell {
padding:1.5em 0 0 1.5em;
}
.small-grid-gutters-xlarge {
margin:-2em 0 2em -2em;
}
.small-grid-gutters-xlarge > .grid-cell {
padding:2em 0 0 2em;
}
}
