.grid {
display:flex;
flex-direction:row:
justify-content:space-evenly;
flex-wrap:wrap;

display:-webkit-box;
display:-moz-box;
display:-ms-flexbox;
display:-webkit-flex;

-webkit-transition:all 0.5s ease;
-moz-transition:all 0.5s ease;
-ms-transition:all 0.5s ease;
-o-transition:all 0.5s ease;
transition:all 0.5s ease;
}
.grid-cell {
flex:1;
padding: 0px 5px 0px 5px;
}
.grid-flex-cells > .grid-cell {
display:-webkit-box;
display:-moz-box;
display:-ms-flexbox;
display:-webkit-flex;
display:flex;
}
.grid-top {
align-items:flex-start;
}
.grid-bottom {
align-items:flex-end;
}
.grid-align-center {
align-items:center;
}
.grid-justify-center {
justify-content:center;
}
.grid-cell-top {
align-self:flex-start;
}
.grid-cell-bottom {
align-self:flex-end;
}
.grid-cell-center {
align-self:center;
}
.grid-cell-autosize {
flex:none;
}
.grid-fit > .grid-cell {
flex:1;
}
.grid-1-1 > .grid-cell {
flex:0 0 100%;
}
.grid-1-2 > .grid-cell {
flex:0 0 50%;
}
.grid-1-3 > .grid-cell {
flex:0 0 33.3333%;
}
.grid-1-4 > .grid-cell {
flex:0 0 25%;
}
.grid-1-5 > .grid-cell {
flex:0 0 20%;
}
.grid-1-6 > .grid-cell {
flex:0 0 16.6666%;
}
.grid-flex-1-1 > .grid-cell {
flex:1 1 100%;
}
.grid-flex-1-2 > .grid-cell {
flex:1 1 50%;
}
.grid-flex-1-3 > .grid-cell {
flex:1 1 33.3333%;
}
.grid-flex-1-4 > .grid-cell {
flex:1 1 25%;
}
.grid-flex-1-5 > .grid-cell {
flex:1 1 20%;
}
.grid-flex-1-6 > .grid-cell {
flex:1 1 16.6666%;
}
.grid-width-100 {
width:100% !important;
flex:none;
}
.grid-width-75 {
width:75% !important;
flex:none;
}
.grid-width-66 {
width:66.6666% !important;
flex:none;
}
.grid-width-50 {
width:50% !important;
flex:none;
}
.grid-width-33 {
width:33.3333% !important;
flex:none;
}
.grid-width-25 {
width:25% !important;
flex:none;
}
.cell-width-100 {
flex:1 1 100% !important;
}
.cell-width-75 {
flex:1 1 75% !important;
}
.cell-width-66 {
flex:1 1 66.6666% !important;
}
.cell-width-50 {
flex:1 1 50% !important;
}
.cell-width-33 {
flex:1 1 33.3333% !important;
}
.cell-width-25 {
flex:1 1 25% !important;
}
