.icon {
background-repeat: no-repeat;
display:block;
background-size:calc(100px - 10px - 10px - 10px - 10px);
height:calc(100px - 10px - 10px - 10px - 10px);
width:calc(100px - 10px - 10px - 10px - 10px);
padding:0px;
}
