img {
background:none;
height:auto;
width:100%;
filter:blur(1px) grayscale(0.5);
transition-duration:0.5s;
}
img:hover{
filter:none;
}
@media only screen and (min-width: 800px) {
img {
display:block;
height:auto;
width:75vh;
margin-left:auto;
margin-right:auto;
}
}
