/* Images */
/*-----------------------------------------------*/
img {
background:none;
display:block;
height:80vh;
width:auto;
margin-left:50%;
margin-right:50%;
filter:grayscale(0.5) blur(1px);
transition-duration:0.5s;
}
img:hover{
filter:none;
}
