.landing {
	background: transparent;
	color: #222222ff;
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 0px 0px;
	position: absolute;
	top: 0px;

	/* text-shadow: -1px -1px 0 #ffffffff, 1px -1px 0 #ffffffff, -1px 1px 0 #ffffffff, 1px 1px 0 #ffffffff; */

	z-index: 999;
}

