a {
color:#666666;
display:block;
font-weight:normal;
border:none;
outline:none;
-webkit-transition:all 0.5s ease;
-moz-transition:all 0.5s ease;
-ms-transition:all 0.5s ease;
-o-transition:all 0.5s ease;
transition:all 0.5s ease;
}
a:active,
a:focus,
a:link,
a:visited {
text-decoration:none;
outline:none;
}
a:hover {
color:#cccccc;
text-decoration:none;
outline:none;
}
