a {
	color: #666666ff;
	display: block;
	border: none;
	outline: none;
}

a:active,
a:focus,
a:link,
a:visited {
	text-decoration: none;
	outline: none;
}

a:active,
a:hover {
	color: #000000ff;
	text-decoration: none;
	outline: none;
}
