#load{
background:#ffffff;
position:absolute;
bottom:80px;
left:0;
right:0;
height:100%;
width:100%;
}

#load img{
height:auto;
width:calc(100vh - 80px - 60px - 120px);
padding-bottom:100px;
padding-top:100px;
}
#load #model{
position:unset;
}
