#loader {
	display: block;

	opacity: 0;

	animation-name: loader-reveal;
	animation-delay: 0.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes loader-reveal {
	0% {opacity: 0;}

	100% {opacity: 1;}
}


loader:focus {
	outline: none;
}

