.logo-black {
	background-image: url(/logo/logo-black.svg);
}

.logo-blue {
	background-image: url(/logo/logo-blue.svg);
}

.logo-fuschia {
	background-image: url(/logo/logo-fuschia.svg);
}

.logo-green {
	background-image: url(/logo/logo-green.svg);
}

.logo-grey {
	background-image: url(/logo/logo-grey.svg);
}

.logo-orange {
	background-image: url(/logo/logo-orange.svg);
}

.logo-purple {
	background-image: url(/logo/logo-purple.svg);
}

.logo-red {
	background-image: url(/logo/logo-red.svg);
}

.logo-yellow {
	background-image: url(/logo/logo-yellow.svg);
}

.logo-camera {
	background-image: url(/logo/logo-camera.svg);
}

.logo-color {
	background-image: url(/logo/logo-color.svg);
}

.logo-controls {
	background-image: url(/logo/logo-controls.svg);
}

.logo-details {
	background-image: url(/logo/logo-details.svg);
}

.logo-drawer {
	background-image: url(/logo/logo-drawer.svg);
}

.logo-edge {
	background-image: url(/logo/logo-edge.svg);
}

.logo-paypal {
	background-image: url(/logo/logo-paypal.svg);
}

.logo-baseplate {
	background-image: url(/logo/logo-baseplate.svg);
}

.logo-grid {
	background-image: url(/logo/logo-grid.svg);
}

.logo-wireframe {
	background-image: url(/logo/logo-wireframe.svg);
}

.logo-console {
	background-image: url(/logo/logo-console.svg);
}
