.logo-red {
background-image:url(/icons/logo-red.svg);
}
.logo-black {
background-image:url(/icons/logo-black.svg);
}
.logo-green {
background-image:url(/icons/logo-green.svg);
}
.logo-grey {
background-image:url(/icons/logo-grey.svg);
}
.logo-yellow {
background-image:url(/icons/logo-yellow.svg);
}
