/* // general // */

@media (min-width: 321px) { /* smartphones, iphone, portrait 480x320 phones */

	.grid-responsive {
		width: 100%;
	}

}

@media (min-width: 481px) { /* portrait e-readers (nook/kindle), smaller tablets @ 600 or @ 640 wide. */

	.grid-responsive {
		width: 100%;
	}

}

@media (min-width: 641px) { /* portrait tablets, portrait ipad, landscape e-readers, landscape 800x480 or 854x480 phones */

	.grid-responsive {
		width: 50%;
	}

}

@media (min-width: 961px) { /* tablet, landscape ipad, lo-res laptops ands desktops */

	.grid-responsive {
		width: 30%;
	}

}

@media (min-width: 1021px) { /* big landscape tablets, laptops, + desktops */

	.grid-responsive {
		width: 30%;
	}

}

@media (min-width: 1281px) { /* hi-res laptops + desktops */

	.grid-responsive {
		width: 30%;
	}

}

/* // galaxy s3 // */

/* portrait + landscape // */

@media screen
	and (device-width: 360px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 2) {

}

/* // portrait // */

@media screen
	and (device-width: 320px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 2)
	and (orientation: portrait) {

}

/* // landscape // */

@media screen
	and (device-width: 320px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 2)
	and (orientation: landscape) {

}

/* // galaxy s4, s5 + note 3 // */

/* // portrait + landscape // */

@media screen
	and (device-width: 320px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 3) {

}

/* // portrait // */

@media screen
	and (device-width: 320px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 3)
	and (orientation: portrait) {

}

/* // landscape // */

@media screen
	and (device-width: 320px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 3)
	and (orientation: landscape) {

}

/* // galaxy s6 // */

/* // portrait + landscape // */

@media screen
	and (device-width: 360px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 4) {

}

/* // portrait // */

@media screen
	and (device-width: 360px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 4)
	and (orientation: portrait) {

}

/* // landscape // */

@media screen
	and (device-width: 360px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 4)
	and (orientation: landscape) {

}

/* // galaxy tab 2 // */

/* // portrait + landscape // */

@media
	(min-device-width: 800px)
	and (max-device-width: 1280px) {

}

/* // portrait // */

@media
	(max-device-width: 800px)
	and (orientation: portrait) {

}

/* // landscape // */

@media
	(max-device-width: 1280px)
	and (orientation: landscape) {

}

/* // galaxy tab s // */

/* // portrait + landscape // */

@media
	(min-device-width: 800px)
	and (max-device-width: 1280px)
	and (-webkit-min-device-pixel-ratio: 2) {

}

/* portrait // */

@media
	(max-device-width: 800px)
	and (orientation: portrait)
	and (-webkit-min-device-pixel-ratio: 2) {

}

/* // landscape // */

@media
	(max-device-width: 1280px)
	and (orientation: landscape)
	and (-webkit-min-device-pixel-ratio: 2) {

}

/* // laptops // */

/* // non-retina screens // */

@media screen
	and (min-device-width: 1200px)
	and (max-device-width: 1600px)
	and (-webkit-min-device-pixel-ratio: 1) {

}

/* // retina screens // */

@media screen
	and (min-device-width: 1200px)
	and (max-device-width: 1600px)
	and (-webkit-min-device-pixel-ratio: 2)
	and (min-resolution: 192dpi) {

}
