/* // general // */

@media (max-width: 320px) {

	.flex-responsive {
		width: 100%;
	}

	.grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (min-width: 320px) {

	.flex-responsive {
		width: 100%;
	}

	.grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (min-width: 480px) {

	.flex-responsive {
		width: 100%;
	}

	.grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (min-width: 640px) {

	.flex-responsive {
		width: 100%;
	}

	.grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (min-width: 800px) {

	.flex-responsive {
		width: 50%;
	}

	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 960px) {

	.flex-responsive {
		width: 50%;
	}

	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1020px) {

	.flex-responsive {
		width: 50%;
	}

	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1200px) {

	.flex-responsive {
		width: 25%;
	}

	.grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1600px) {

	.flex-responsive {
		width: 20%;
	}

	.grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* // phone // */

@media (pointer: coarse) and (max-device-width: 480px) {

	#drawer{
		top: 60px;
	}

	@keyframes drawer-reveal {
		0% {top: 60px;}

		100% {top: calc(60px - 216px);}
	}
}

/* // tablet // */

@media (pointer: coarse) and (min-device-width: 800px) {

	#drawer{
		top: 60px;
	}

	@keyframes drawer-reveal {
		0% {top: 60px;}

		100% {top: calc(60px - 256px);}
	}
}

/* // specific models // */

/* // galaxy s3 // */

/* portrait + landscape // */

@media screen
	and (device-width: 360px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 2) {

}

/* // portrait // */

@media screen
	and (device-width: 320px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 2)
	and (orientation: portrait) {

}

/* // landscape // */

@media screen
	and (device-width: 320px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 2)
	and (orientation: landscape) {

}

/* // galaxy s4, s5 + note 3 // */

/* // portrait + landscape // */

@media screen
	and (device-width: 320px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 3) {

}

/* // portrait // */

@media screen
	and (device-width: 320px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 3)
	and (orientation: portrait) {

}

/* // landscape // */

@media screen
	and (device-width: 320px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 3)
	and (orientation: landscape) {

}

/* // galaxy s6 // */

/* // portrait + landscape // */

@media screen
	and (device-width: 360px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 4) {

}

/* // portrait // */

@media screen
	and (device-width: 360px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 4)
	and (orientation: portrait) {

}

/* // landscape // */

@media screen
	and (device-width: 360px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 4)
	and (orientation: landscape) {

}

/* // galaxy tab 2 // */

/* // portrait + landscape // */

@media
	(min-device-width: 800px)
	and (max-device-width: 1280px) {

}

/* // portrait // */

@media
	(max-device-width: 800px)
	and (orientation: portrait) {

}

/* // landscape // */

@media
	(max-device-width: 1280px)
	and (orientation: landscape) {

}

/* // galaxy tab s // */

/* // portrait + landscape // */

@media
	(min-device-width: 800px)
	and (max-device-width: 1280px)
	and (-webkit-min-device-pixel-ratio: 2) {

}

/* portrait // */

@media
	(max-device-width: 800px)
	and (orientation: portrait)
	and (-webkit-min-device-pixel-ratio: 2) {

}

/* // landscape // */

@media
	(max-device-width: 1280px)
	and (orientation: landscape)
	and (-webkit-min-device-pixel-ratio: 2) {

}

/* // laptops // */

/* // non-retina screens // */

@media screen
	and (min-device-width: 1200px)
	and (max-device-width: 1600px)
	and (-webkit-min-device-pixel-ratio: 1) {

}

/* // retina screens // */

@media screen
	and (min-device-width: 1200px)
	and (max-device-width: 1600px)
	and (-webkit-min-device-pixel-ratio: 2)
	and (min-resolution: 192dpi) {

}
