#modes {
	position: absolute;
	top: 0px;
	right: calc(-256px - 10px);
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 0px 0px;

	animation-name: modes-reveal;
	animation-delay: 5.0s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.mode {
	background: #cccccc33;
	border-radius: 20px 0px 20px 20px;
	height: auto;
	width: 256px;
	position: relative;
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 10px 10px;

	opacity: 0;

	animation-name: mode-reveal;
	animation-delay: 0.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.mode::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	border-top: 20px solid #000000ff;
	border-left: 20px solid #00000000;
	border-bottom: none;
	border-right: none;
	z-index: 2;
}

.mode-image {
	border-bottom: 0px solid #00000000;
}

.mode a {
	color: #00000000;
}

.mode-image::before {
	content: "";
	position: absolute;
	top: 10px;
	right: 10px;
	border-top: 20px solid #00000000;
	border-left: 20px solid #00000000;
	border-bottom: none;
	border-right: none;
	z-index: 1;
}

.mode-label {
	position: absolute;
	bottom: 20px;
	right: 0px;
	left: 0px;
}

.mode:hover {
	background: #bbbbbbff;
	border: 0px solid #00000000;
	border-radius: 20px 0px 20px 20px;
}

.mode:hover::before {
	content: "";
	border-top: 25px solid #666666ff;
	border-left: 25px solid #00000000;
}

.mode:hover > .mode-image {
	background: #ccccccff;
	border-radius: 10px 10px 10px 10px;
	border-bottom: 45px solid #999999ff;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
}

.mode:hover > .mode-image::before {
	content: "";
	border-top: 20px solid #bbbbbbff;
	border-left: 20px solid #00000000;
}

.mode a:hover {
	color: #666666ff;
}

@keyframes modes-reveal {
	0% {right: calc(-256px - 10px);}

	100% {right: 0px;}
}

@keyframes mode-reveal {
	0% {opacity: 0;}

	100% {opacity: 1;}
}
