#model {
	background: #dddddd;
	height: 120px;
	width: auto;
	position: fixed;
	bottom: calc(-120px - 80px);
	left: 0px;
	right: 0px;

	animation-name: model-reveal;
	animation-delay: 0.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes model-reveal {
	0% {bottom: calc(-120px - 80px);}

	100% {bottom: calc(80px);}
}



