#options {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 0px 0px;

	animation-name: options-reveal;
	animation-delay: 5.0s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.option {
	background: #cccccc33;
	border-radius: 0px 20px 20px 20px;
	position: relative;
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 0px 0px;

	opacity: 0;

	animation-name: option-reveal;
	animation-delay: 0.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.option::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	border-top: 20px solid #000000ff;
	border-left: none;
	border-bottom: none;
	border-right: 20px solid #00000000;

	z-index: 2;
}

.option-image {

}

.option-image img {
	width: 128px;
	height: 128px;
}

.option a {
	color: #00000000;
}

.option-image::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	border-top: 20px solid #00000000;
	border-left: none;
	border-bottom: none;
	border-right: 20px solid #00000000;

	z-index: 1;
}

.option-label {
	display:none;
	opacity: 0;

	animation-name: option-label-reveal;
	animation-delay: 0.0s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

#options:has(.option:hover) {
	background: #aaaaaaff;
	border-radius: 0px 0px 20px 20px;
	padding: 10px 10px 10px;
	margin: 0px 0px 0px 0px;
	right: 0px;
	left: 0px;

	z-index: 3;
}

.option:nth-of-type(odd):hover {
	background: #bbbbbbff;
	border: 0px solid #00000000;
	border-radius: 20px 0px 20px 20px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.option:nth-of-type(even):hover {
	background: #bbbbbbff;
	border: 0px solid #00000000;
	border-radius: 20px 0px 20px 20px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.option:hover::before {
	content: "";
	border-top: 30px solid #666666ff;
	border-right: 30px solid #00000000;
}

.option:hover > .option-image {
	border-radius: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 0px 0px;
}

.option:hover > .option-image::before {
	content: "";
	border-top: 40px solid #ff0000ff;
	border-right: 40px solid #00000000;
	top: 0px;
	left: 0px;
}

.option:hover > .option-image img{
	width: 256px;
	height: 256px;
}

.option:hover .option-label {
	display:block;
}

.option a:hover {
	color: #ffffffff;
}

@keyframes options-reveal {
	/* media.css */
}

@keyframes option-reveal {
	0% {opacity: 0;}

	100% {opacity: 1;}
}

@keyframes option-label-reveal {
	0% {opacity: 0;}

	100% {opacity: 1;}
}
