#options {
	position: absolute;
	top: calc(-256px - 10px - 10px - 10px);
	left: 0px;
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 0px 0px;

	animation-name: options-reveal;
	animation-delay: 5.0s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.option {
	background: #cccccc33;
	border-radius: 0px 20px 20px 20px;
	position: relative;
	padding: 10px 10px 10px 10px;
	margin: 0px 10px 10px 0px;

	opacity: 0;

	animation-name: option-reveal;
	animation-delay: 0.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.option::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	border-top: 20px solid #000000ff;
	border-left: none;
	border-bottom: none;
	border-right: 20px solid #00000000;

	z-index: 2;
}

.option-image {
	border-bottom: 0px solid #00000000;
}

.option-image img {
	width: 256px;
	height: 256px;
}

.option a {
	color: #00000000;
}

.option-image::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	border-top: 20px solid #00000000;
	border-left: none;
	border-bottom: none;
	border-right: 20px solid #00000000;

	z-index: 1;
}

.option-label {
	position: absolute;
	bottom: 20px;
	right: 0px;
	left: 0px;

	opacity: 0;

	animation-name: option-label-reveal;
	animation-delay: 0.0s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

#options:has(.option:hover) {
	background: #aaaaaaff;
	border-radius: 0px 0px 20px 20px;
	right: 0px;
	left: 0px;

	z-index: 3;
}

.option:hover {
	background: #bbbbbbff;
	border: 0px solid #00000000;
	border-radius: 0px 20px 20px 20px;
}

.option:hover::before {
	content: "";
	border-top: 30px solid #666666ff;
	border-right: 30px solid #00000000;
}

.option:hover > .option-image {
	border-radius: 10px 10px 10px 10px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.option:hover > .option-image::before {
	content: "";
	border-top: 20px solid #bbbbbbff;
	border-right: 20px solid #00000000;
}

.option:hover > .option-image img {
	width: 512px;
	height: 512px;
}

.option a:hover {
	color: #ffffffff;
}

@keyframes options-reveal {
	0% {top: calc(-256px - 10px - 10px - 10px);}

	100% {top: 0px;}
}

@keyframes option-reveal {
	0% {opacity: 0;}

	100% {opacity: 1;}
}

@keyframes option-label-reveal {
	0% {opacity: 0;}

	100% {opacity: 1;}
}
