.paypal {
	color: #000000ff;
	position: fixed;
	bottom: calc(80px + 64px + 10px);
	right: -200px;
	padding: 10px 10px 10px 10px;

	animation-name: paypal-reveal;
	animation-delay: 1.0s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes paypal-reveal {
	0% {right: -200px;}

	100% {right: 0px;}
}

.paypal-popup {
	background-color: #000000cc;
	border-radius: 4px;
	color: #efefefff;
	padding: 20px 20px 20px 20px;
	margin: 0px 0px 0px 0px;
	position: fixed;
	top:10px;
	left: 10px;
	right: 10px;

	display: none;
	opacity: 0;
}

@keyframes paypal-popup-reveal {
	0% {opacity: 0;}

	100% {opacity: 1;}
}

.paypal .paypal-show {
	display: block;
	opacity: 1;

	animation: paypal-popup-reveal 1s;
	animation-delay: 0s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
