#samples {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;

	z-index: 888;
}

.samples {
	background-color: #000000ff;
	color: #efefefff;
	padding: 20px 20px 0px 20px;
	margin: 0px 0px 0px 0px;
	position: fixed;
	bottom: -20px;
	left: 0px;
	right: 0px;

	height: 0vh;

	overflow-x: hidden;
	overflow-y: scroll;
}

@keyframes samples-reveal {
	0% {height: 0vh;}

	100% {height: calc( 100vh + 20px );}
}

.samples-show {
	height: calc( 100vh - 0px );

	animation: samples-reveal 1s;
	animation-delay: 0s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes samples-conceal {
	0% {height: calc( 100vh - 0px );}

	100% {height: 0vh;}
}

.samples-hide {
	height: 0vh;

	animation: samples-conceal 1s;
	animation-delay: 0s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
