::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #00000000;
    border-left: 5px solid #333333ff;
    margin-block: 15px;
}

::-webkit-scrollbar-thumb {
	border-left: 5px solid #666666ff;
 }

::-webkit-scrollbar-thumb:hover {
	border-left: 5px solid #999999ff;

}
