/* scrollbar x */

::-webkit-scrollbar {
    height: 5px;
}

/* scrollbar y */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #00000000;
    border-right: 5px solid #333333ff;
    margin-block: 0px;
}

::-webkit-scrollbar-thumb {
	border-right: 5px solid #666666ff;
 }

::-webkit-scrollbar-thumb:hover {
	border-right: 5px solid #999999ff;

}
