section {
position:relative;
margin:0;
padding:10px;
}
section#comments {
}
section#header {
background:transparent;
}
section#navigation {
min-width:350px !important;
}
section#load {
background:#ffffff;
}
section#link {
}
section#footer {
}
