#selections {
	background: #aaaaaaff;
	border-radius: 0px 0px 20px 20px;
	position: fixed;
	height: 160px;
	top: -160px;
	left: 0px;
	right: 0px;
}

.selections {
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 160px;

	display: flex;
	flex-direction: row;

	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;

	scrollbar-width: none;

	-webkit-overflow-scrolling: touch;
}

.selections-button {
	background: #00000000;
	color: #666666ff;

	margin: 0px 0px 0px 0px;
	padding: 0px 0px 10px 0px;

	width: 80px;
	height: auto;
}

.selections-start {
	border-top: 15px solid #00000000;
	border-bottom: 15px solid #00000000;
	border-right: 15px solid #00000000;
	border-left: 15px solid #000000ff;

	width: 40px;
	transform: translateX(50%);

	opacity: 0;
}

.selections-end {
	border-top: 15px solid #00000000;
	border-bottom: 15px solid #00000000;
	border-right: 15px solid #000000ff;
	border-left: 15px solid #00000000;

	width: 40px;
	transform: translateX(-50%);

	opacity: 0;
}

.selections-left {
	opacity: 1;
}

.selections-right {
	opacity: 1;
}

.selections-label {
	height: 20px;
}

.mode,
.option {
	width: 140px;
}
