#social {
background:#bbbbbb;
}
.social-list {
display:-webkit-box;
display:-moz-box;
display:-ms-flexbox;
display:-webkit-flex;
display:flex;
justify-content:center;
}
.social-message {
font-weight:bold;
line-height:32px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
.social-message:after {
content:"Like what you see? Share the #lego love! <3"
}
.social-button {
background-size:32px;
display:block;
height:32px;
width:32px;
background-repeat:no-repeat;
position:relative;
margin:0px 5px 0px 5px;
padding:0;
}
.social-button.happy {
background-image:url(/assets/social/happy.svg);
}
.social-button.facebook {
background-image:url(/assets/social/facebook.svg);
}
.social-button.google-plus {
background-image:url(/assets/social/google-plus.svg);
}
.social-button.instagram {
background-image:url(/assets/social/instagram.svg);
}
.social-button.linkedin {
background-image:url(/assets/social/linkedin.svg);
}
.social-button.pinterest {
background-image:url(/assets/social/pinterest.svg);
}
.social-button.sketchfab {
background-image:url(/assets/social/sketchfab.svg);
}
.social-button.github {
background-image:url(/assets/social/github.svg);
}
.social-button.twitter {
background-image:url(/assets/social/twitter.svg);
}
