.status-available {
	background: #37a537;
	color: #8de08d !important;
	font-weight: bold;
}

.status-background-available {
	background: #37a537;
}

.status-button-available {
	background: #8de08d;
	color: #37a537 !important;
	font-weight: bold;
}

.status-font-available {
	color: #8de08d !important;
	font-weight: bold;
}

.status-progress {
	background: #ff9e5e;
	color: #b44e0b !important;
	font-weight: bold;
}

.status-background-progress {
	background: #ff9e5e;
}

.status-button-progress {
	background: #b44e0b;
	color: #ff9e5e !important;
	font-weight: bold;
}

.status-font-progress {
	color: #b44e0b !important;
	font-weight: bold;
}
