.title {
border-left: 5px solid #ff0000 !important;
width:100%;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
@media screen and (max-width:800px) {
.title {
margin:10px 0px 10px 0px;
}
}
@media screen and (max-width:700px) {
.title {
margin:15px 0px 10px 0px;
}
}
@media screen and (max-width:600px) {
.title {
margin:20px 0px 10px 0px;
}
}
