.work-in-progress {
	position: relative;
	z-index: 0;
	border-radius:  10px 10px 10px 10px;
}

.work-in-progress::before {
	background: repeating-linear-gradient(
		45deg,
		#ffff00ff,
		#ffff00ff 20px,
		#333333ff 20px,
		#333333ff 40px
	);
	-webkit-mask:
		linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	mask-composite: exclude;

	content: '';
	position: absolute;
	inset: 0px;
	border-radius: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	pointer-events: none;
	z-index: 1;
}
